/**
 *  共通部品
 */
/* 値段タグ */
.pricetag {
    background-color: $brand-primary;
    width: 68px;
    height: 67px;
    padding: 26px 8px;
    line-height: 1;
    color: #fff;
}
.pricetag-out {
    background-color: $brand-warning;
}
.pricetag-onsale {
    background-color: $gray-dark;
}

/**
 *  ヘッダー（header）サイトロゴ、グロナビ、ブックマーク、カート
 */
 /* .topbar */
.topbar-outer {
    background-color:  $gray-dark;
}
.topbar {
    @extend .container;
    .ie8 & {
        width: $screen-md ;
    }
    height: 45px;
}
.topbar-ci {
    @include text-hide;
    @include img-retina("../img/img-ci.png", "../img/img-ci@2x.png", 156px, 20px);
    float: left;
    background-repeat: no-repeat;
    width: 156px;
    height: 20px;
    margin: 12px 0 0 0;
}
.topbar-right {
    float: right;
    color: $gray-lightt;
}
.topbar-right-search,
.topbar-right-login {
    float: left;
    font-size: $font-size-md;
    a {
        color: $gray-lightt;
          &:hover,
          &:focus {
            color: $link-hover-color;
            text-decoration: none;
          }
    }
}
.topbar-right-search {
    margin: 10px 20px 0 0;
}
.topbar-right-login {
    margin: 12px 20px 0 0;
}
/* .nextbar */
.nextbar-outer {
    background-color: #fff;
}
.nextbar {
    @extend .container;
    height: 60px;
    .ie8 & {
        width: $screen-md ;
    }
}
.nextbar-gnav {
    float: left;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        float: left;
        border-right: 1px $gray-lightestt solid;
        &:first-child {
            border-left: 1px $gray-lightestt solid;
        }
    }
    a {
        display: block;
        height: 60px;
        padding: 20px;
        font-size: $font-size-md;
        color: $gray-dark;
        &:hover,
        &:focus {
            background-color: $gray-lightestt;
            text-decoration: none;
        }
    }
}
    .nextbar-customer {
        float: right;
        ul {
            list-style: none;
        }
        li {
            float: left;
            border-right: 1px $gray-lightest solid;
            &:first-child {
                border-left: 1px $gray-lightest solid;
            }
        }
        a {
            display: block;
            height: 60px;
            padding: 20px;
            &:hover,
            &:focus {
                background-color: $gray-lightestt;
                text-decoration: none;
            }
        }
        .icon {
            color: $gray-dark;
        }
        .badge {
            margin: 0 0 0 10px;
            border-radius: $border-radius-small;
        }
        .badge-cart {
            background-color: $brand-primary;
        }
    }

/**
 *  リード（.head-lead）
 */
.head-lead-outer {
    background-color: #fff;
    background-image: url(../img/bg-head-lead.png);
    background-repeat: repeat-x;
    height: 460px;
}
.head-lead {
    @extend .container;
    position: relative;
    .ie8 & {
        width: $screen-md ;
    }
}
.head-lead-img {
    @include img-retina("../img/pic-head-lead.png", "../img/pic-head-lead@2x.png", 668px, 460px);
    width: 668px;
    height: 460px;
    margin: 0 0 0 -140px;
    overflow: visible;
}
.head-lead-txt {
    position: absolute;
    top: 70px;
    right: 40px;
    width: 420px;
}
.head-lead-title {
    margin: 10px 0;
    line-height: $headings-line-height;
    font-size: $font-size-h1;
}
.head-lead-exp {
    line-height: $line-height-large;
    font-size: $font-size-xlarge;
}


/**
 *  アドオン（.addon）
 */
.addon {
    @extend .container;
    .ie8 & {
        width: $screen-md ;
    }
    hr {
        margin: 46px 0 27px 0;
    }
}
.addon-item {
    float: left;
    background-color: $gray-addon-fallback;
    background-color: $gray-addon;
    margin: 0 20px 20px 0;
    padding: 0 14px 10px;
}
.addon-shipping {
    width: 220px;
}
.addon-test {
    width: 220px;
}
.addon-blog {
    width: 460px;
    margin: 0;
}
.addon-item-title {
    font-size: $font-size-base;
    @extend .text-uppercase;
}
.addon-blog-date {
    background-color: $brand-primary;
    width: 44px;
    padding: 4px;
    line-height: $line-height-large;
    text-align: center;
    color: #fff;
    &:hover,
    &:focus {
        color: #fff;
        background-color: darken($brand-primary, 20%);
        text-decoration: none;
    }
}

/**
 *  フッター（.footer）
 */
 /* .footer-top */
.footer-top-outer {
    background-color: $gray-dark;
    border-bottom: 2px $gra-darker solid;
}
.footer-top {
    @extend .container;
    color: $gray-lighttt;
    .ie8 & {
        width: $screen-md ;
    }
}
.footer-top-item {
    float: left;
    width: 260px;
    margin: 0 40px 0 0;
    padding: 20px 0;
    &:first-child {
        margin: 0 40px 0;
    }
}
.footer-top-item-title {
    font-size: $font-size-base;
    color: $gray-light;
}
.footer-top-item-tw-date {
    color: $gray-lightest;
}
.footer-top-item-flickr {
    ul {
        @include clearfix;
        padding: 0;
        list-style: none;
    }
    li {
        float: left;
        margin: 0 8px 8px 0;
    }
}
/* .footer-middle */
.footer-middle-outer {
    background-color: $gray-dark;
}
.footer-middle {
    @extend .container;
    .ie8 & {
        width: $screen-md ;
    }
}
.footer-middle-form {
    float: left;
    margin: 40px 0 40px 40px;
    .ie8 & {
        margin: 24px 0 40px 40px;
    }
    .form-group {
    .input-group {
        .form-control {
            background-color: $gray;
            color: $gray-lighttt;
            border-color: $gray;
            border-radius: 0;
        }
        .ie8 & {
            float: left;
        }
    }
    .btn {
        margin: 0 0 0 -4px;
        border-radius: 0;
        .ie8 & {
            float: left;
        }
    }
    }
}
.footer-middle-sns {
    float: right;
    margin: 40px 40px 40px 0;
    ul {
        @include clearfix;
        margin: 0;
        padding: 0;
    }
    li {
        float: left;
        margin: 0 0 0 8px;
    }
    a {
        img {
            width: 36px;
            height: 36px;
        }
    }
}
/* .footer-bottom */
.footer-bottom-outer {
    background-color: $gray;
}
.footer-bottom {
    @extend .container;
    color: darken(#fff, 50%);
    .ie8 & {
        width: $screen-md ;
    }
    .copyright {
        float: left;
        margin: 20px 0;
    }
    .subnav {
        float: right;
        margin: 30px 0;
        ul {
            list-style: none;
        }
        li {
            float: left;
            margin: 0 0 0 6px;
            &:before {
                content: "/";
                margin: 0 6px 0 0;
            }
            &:first-child {
                &:before {
                    content: "";
                }
            }
        }
        a {
            color: darken(#fff, 50%);
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
}

// 記述例
// google font
// @import url(http://fonts.googleapis.com/css?family=Bitter);

// Sprite image
// &.social-rss a {
//     @include sprite($item-sns01-rss);
// }

// @media ( max-width: $screen-sm-max ) { // 939px
// }
