// google font
// @import url(http://fonts.googleapis.com/css?family=Bitter);

// Sprite image
// &.social-rss a {
//     @include sprite($item-sns01-rss);
// }

// @media ( max-width: $screen-sm-max ) { // 939px
// }

/**
 *  ヘッダー（header）サイトロゴ、グロナビ、ブックマーク、カート
 */
 /* .topbar */
.topbar-outer {
    background-color:  $gray-dark;
}
.topbar {
    @extend .container;
    .ie8 & {
        width: $screen-md ;
    }
    height: 45px;
}
.topbar-ci {
    @include text-hide;
    @include img-retina("../img/img-ci.png", "../img/img-ci@2x.png", 156px, 20px);
    float: left;
    background-repeat: no-repeat;
    width: 156px;
    height: 20px;
    margin: 12px 0 0 0;
}
.topbar-right {
    float: right;
    color: $gray-lightt;
}
.topbar-right-search,
.topbar-right-login {
    float: left;
    font-size: $font-size-md;
    a {
        color: $gray-lightt;
          &:hover,
          &:focus {
            color: $link-hover-color;
            text-decoration: none;
          }
    }
}
.topbar-right-search {
    margin: 10px 20px 0 0;
}
.topbar-right-login {
    margin: 12px 20px 0 0;
}
/* .nextbar */
.nextbar-outer {
    background-color: #fff;
}
.nextbar {
    @extend .container;
    height: 60px;
    .ie8 & {
        width: $screen-md ;
    }
}
.nextbar-gnav {
    float: left;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        float: left;
        border-right: 1px $gray-lightestt solid;
        &:first-child {
            border-left: 1px $gray-lightestt solid;
        }
    }
    a {
        display: block;
        height: 60px;
        padding: 20px;
        font-size: $font-size-md;
        color: $gray-dark;
        &:hover,
        &:focus {
            background-color: $gray-lightestt;
            text-decoration: none;
        }
    }
}
    .nextbar-customer {
        float: right;
        ul {
            list-style: none;
        }
        li {
            float: left;
            border-right: 1px $gray-lightest solid;
            &:first-child {
                border-left: 1px $gray-lightest solid;
            }
        }
        a {
            display: block;
            height: 60px;
            padding: 20px;
            &:hover,
            &:focus {
                background-color: $gray-lightestt;
                text-decoration: none;
            }
        }
        .icon {
            color: $gray-dark;
        }
        .badge {
            margin: 0 0 0 10px;
            border-radius: $border-radius-small;
        }
        .badge-cart {
            background-color: $brand-primary;
        }
    }

/**
 *  アドオン（.addon）
 */
.addon {
    @extend .container;
    .ie8 & {
        width: $screen-md ;
    }
    hr {
        margin: 46px 0 27px 0;
    }
}
.addon-item {
    float: left;
    background-color: $gray-addon-fallback;
    background-color: $gray-addon;
    margin: 0 20px 20px 0;
    padding: 0 14px 10px;
}
.addon-shipping {
    width: 220px;
}
.addon-test {
    width: 220px;
}
.addon-blog {
    width: 460px;
    margin: 0;
}
.addon-item-title {
    font-size: $font-size-base;
    @extend .text-uppercase;
}
.addon-blog-date {
    background-color: $brand-primary;
    width: 36px;
    padding: 4px;
    text-align: center;
    color: #fff;
    &:hover,
    &:focus {
        color: #fff;
        background-color: darken($brand-primary, 20%);
        text-decoration: none;
    }
}

/**
 *  フッター（.footer）
 */
 /* .footer-top */
.footer-top-outer {
    background-color: $gray-dark;
    border-bottom: 2px $gra-darker solid;
}
.footer-top {
    @extend .container;
    color: $gray-lighttt;
}
.footer-top-item {
    float: left;
    width: 260px;
    margin: 0 40px 0 0;
    padding: 20px 0;
    &:first-child {
        margin: 0 40px 0;
    }
}
.footer-top-item-title {
    font-size: $font-size-base;
    color: $gray-light;
}
.footer-top-item-tw-date {
    color: $gray-lightest;
}
.footer-top-item-flickr {
    ul {
        @include clearfix;
        padding: 0;
        list-style: none;
    }
    li {
        float: left;
        margin: 0 8px 8px 0;
    }
}
/* .footer-middle */
.footer-middle-outer {
    background-color: $gray-dark;
}
.footer-middle {
    @extend .container;
}
.footer-middle-form {
    float: left;
    margin: 40px 0 40px 40px;
    .input-group {
//            background-color: $gray;
        .form-control {
            background-color: $gray;
//        height: 36px;
            color: $gray-lighttt;
            border-color: $gray;
            border-radius: 0;
        }
    }
    .btn {
        margin: 0 0 0 -4px;
        border-radius: 0;
    }
}
.footer-middle-sns {
    float: right;
    margin: 40px 40px 40px 0;
    ul {
        @include clearfix;
        margin: 0;
        padding: 0;
    }
    li {
        float: left;
        margin: 0 0 0 8px;
    }
    a {
        img {
            width: 36px;
            height: 36px;
        }
    }
}
/* .footer-bottom */
.footer-bottom {
    @extend .container;
}
.footer-1stouter {
}
.footer-lastouter {
//    background-color: $gray;
}

